@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-normal {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.nav-container {
    display: flex;
    border: 1px solid orange;
}

.brand-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger {
    height: 30px;
    width: 30px;
}

.icon {
    list-style: none;
    margin-left: 20px;
}

a {
    text-decoration: none;
}

.brand {
    font-size: 32px;
    font-weight: 700px;
}

.icon1 {
    font-weight: 700px;
    font-size: 20px;
    color: orange;
}

.icon2 {
    font-weight: 700px;
    font-size: 20px;
    color: skyblue;
}

.icon3 {
    font-weight: 700px;
    font-size: 20px;
    color: #05D4DF;
}

.icon4 {
    font-weight: 700px;
    font-size: 20px;
    color: #5D58EF;
}

.btn-primary {
    width: 197px;
    height: 50px;
    color: white;
    background-color: orange;
    border-style: none;
    border-radius: 12px;
}

.nav-container {
    width: 1160px;
    margin: 0 auto;
}

.marquee{
    margin-top: 5px;
    font-size: 30px;
    color: white;
    background-color: blueviolet;
}


.left {
    width: 640px;
    height: 331px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.hero-title {
    font-size: 56px;
    font-weight: 700px;
}

.hero-description {
    font-size: 20px;
    margin-top: 24px;
}

.btn-secondary {
    height: 50px;
    width: 197px;
    font-size: 20px;
    color: white;
    background-color: black;
    border-radius: 12px;
    margin-top: 24px;
}


.right {
    width: 468px;
    height: 575px;
}


.std-title {
    height: 57px;
    width: 1160px;
    margin: 0 auto;
    font-size: 46px;
    font-weight: 700px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
}

.card-container {
    display: flex;
    gap: 28px;
    width: 1160px;
    margin: 0 auto;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 367px;
    height: 476px;
    border-radius: 18px;
    text-align: center;
}

.card-title {
    font-size: 24px;
    font-weight: 700px;
    margin: 32px 0;
}

.card-description {
    font-size: 15px;
    font-weight: 500px;
    color: #808080;
    margin-bottom: 32px;
}

.card-footer {
    color: ;
    font-weight: 700px;
    font-size: 15px;
}

.card-content1 {
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
}

.card-content2 {
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    height: 481px;
}

.card-content3 {
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
}

.std-footer1 {
    color: #64C8FF;
}

.std-footer2 {
    color: #F0AA00;
}

.std-footer3 {
    color: #8700FF;
}

.arrow {
    text-align: center;
}

.circle {
    height: 60px;
    width: 60px;
    background-color: orange;
    border-radius: 30px;
}

.std-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 80px;
    margin-bottom: 60px;
}



.story-content {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    gap: 18px;
}

.story-right {
    width: 540px;
    height: 630px;
}

.story-left {
    width: 601px;
    display: grid;
    gap: 19px;
    grid-template-columns: repeat(2, 1fr);
}

.story-container{
        background:linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    }


.big-title {
    text-align: center;
    font-size: 46px;
    font-weight: 700px;
    margin: 60px 0 80px 0;
}

.story-img {
    width: 100%;
    border-radius: 16px 16px 0px 0px;
    background: none;
}

.story-card {
    background-color: white;
    border-radius: 16px;
    height: 301px;
}

.story1 {
    height: 630px;
}

.btn-story {
    width: 175px;
    height: 38px;
    border-radius: 47px;
    border-style: none;
    color: white;
    margin-top: -20px;
}

.btn1 {
    background-color: #3CD8E8;
}

.btn2 {
    background-color: #95B226;

}

.btn3 {
    background-color: #5D58F0;
}

.btn4 {
    background-color: #95B226;
}

.btn5 {
    width: : 127px;
    background-color: #95B226;
}

.btn-story {
    position: relative;
    top: -24px;
}

.btn-story,
.story-title,
.story-description {
    margin-left: 38px;
    margin-top: 0px;
}

.story-title {
    margin-top: 19px;
    font-weight: 700px;
    font-size: 15px;
}

.title1 {
    margin: 33px 0 47px 38px;
    font-weight: 700px;
    font-size: 24px;
}

.story-description {
    font-weight: 500px;
    font-size: 15px;
}


.bg-img {
    background-image: url("/assets/bg.png");
}


.view-btn {
    background-color: black;
    margin-top: 80px;
    margin-bottom: 60px;
}

.view-all {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1160px;
    margin: 0 auto;
}

.footer-brand {
    display: flex;
    width: 299px;
    height: 81px;
    margin-bottom: 35px;
    position: relative;
    top: -15px;
}
.education {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {

    padding: 123px 229px 174px 129px;
}

.footer-kids {
    color: white;
    font-size: 24px;
    margin-top: 0;
}

.image-container {
    display: flex;
    gap: 10px;
}

footer {
    background-color: #01ACFD;
}

.kids-description {
    width: 399px;
    height: 100px;
    font-size: 20px;
}

.footer-about {
    width: 170px;
    color: white;
    margin-left: 172px;
    margin-right: 132px;
}

.about-title {
    font-weight: 700px;
    font-size: 24px;
    width: 170px;
    color: white;
    margin-bottom: 32px;
}

.about-subtitle {
    color: white;
    font-size: 20px;
    font-weight: 500px;
    margin-bottom: 20px;
}

.touch-title {
    color: white;
    width: 177px;
    font-size: 24px;
    font-weight: 700px;
    margin-bottom: 32px;
    
}
.touch{
    position: relative;
    top: -70px;
}
.img-container {
    width: 192px;
    gap: 10px;
}




button:hover{
    font-size: medium;
    
}

.btn-secondary:hover{
    font-size: x-large;
    color: red;
}

@media screen and (max-width:576px) {

    .nav-content,
    .btn-primary,
    .brand,
    .std-arrow,
    .story-right {
        display: none;
    }

    .right ,.left{
        width: 100%;
        gap: 5px;
    }
    .marquee{
        overflow: hidden;
    }
    .nav-container {
        justify-content:space-between ;
        width: 100%;
        margin: 0px;
    }

    .hero {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
.std-title{
    width: 100%;
    margin-top: 200px;
}
    .view-all{
        width: 100%;
    }

    .big-title {
        margin: 0 auto;
    }

    .card-container {
        width: 100%;
        flex-direction: column;
    }

    .card {
        width: 100%;
        margin: 0 auto;
    }

    .story-left {
        
        margin: 0 auto;
       
    }
   
    .story-img{
        width: 100%;
    }
    .story-content {
        width: 100%;
        flex-direction: column;
        margin: 0 auto;
    }
    .story-container{
        width: 100%;
        margin: 0 auto;
    }
    .footer-content {
        flex-direction: column;
    }

    .footer-about {
        margin-left: -110px;
        margin-top: 50px;
    }

    .touch-title {
        margin-bottom: 20px;
        margin-top: 50px;
    }

    footer {
        
        margin: 0 auto;
    }
    .footer-kids{
        font-size: 24px;
    }
    .touch{
        margin-left: -220px;
        margin-top: 50px;
    }
  
}










@media screen and (min-width:576px) {

    .hamburger,
    .story-6 {
        display: none;
    }

    .nav-container {
        border: none;
    }

    .break {
        display: none;
    }
}